.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #0c2a4d;
  color: white;
  position: fixed;
}

.sidebar-header .profile-picture {
  margin-top: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.sidebar-header .title {
  margin-top: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.sidebar .profile-name {
  margin-top: 20px;
  font-size: larger;
  color: #fff;
}

.nav-item {
  color: #d1d1d1;
  padding: 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.nav-item:hover,
.nav-item.active {
  background-color: #163b60;
  color: white;
}

.icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.badge {
  background-color: #e74c3c;
  color: white;
  font-size: 12px;
  margin-left: auto;

  border-radius: 12px;
}
